* {
  box-sizing: border-box;
}
@font-face {
  font-family: YoungSerif;
  src: url("/YoungSerif-Regular.otf") format("opentype");
}
html, body {
  background: #fffdfa;
  margin: 0;
  padding: 0;
  color: #0d0d0d;
}
h1, h2 {
  margin: 0;
  padding: 0;
}
body {
  min-height: 100vh;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
main {
  flex: 1 1;
  padding: 5rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: YoungSerif;
  width: 100%;
}
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
form {
  width: 100%;
  text-align: center;
}
.title {
  font-size: 72px;
  font-weight: 700;
  margin-bottom: 30px;
}
.subtitle {
  font-family: Courier New, monospace;
  font-size: 28px;
  font-weight: 500;
  line-height: 1.4;
  text-align: center;
  color: #0d0d0d;
  margin-bottom: 44px;
}
.subtitle.header {
  margin-bottom: 40px;
}
.input-wrapper {
  border: 5px solid #B1ECDB;
  border-radius: 49px;
  width: 100%;
  padding: 10px 10px 10px 45px;
  position: relative;
  margin: auto;
  max-width: 550px;
}
.input-wrapper svg {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
}
input {
  background-color: transparent;
  border: none;
  outline: none;
  width: 100%;
  font-family: YoungSerif;
  font-weight: 600;
  font-size: 25px;
  padding: 10px 20px;
  box-sizing: border-box;
}
.action {
  margin-top: 20px;
}
.action button {
  background: #B1ECDB;
  border: 1px solid #B1ECDB;
  border-radius: 49px;
  font: 600 25px YoungSerif;
  color: #5F6368;
  width: 99%;
  cursor: pointer;
  margin: 20px auto;
  padding: 20px;
  display: inline-block;
}
footer {
  width: 100%;
  height: 100px;
  border-top: 1px solid #eaeaea;
  display: flex;
  align-items: center;
}
footer span {
  padding: 24px;
}
footer a {
  font-family: YoungSerif;
  text-decoration: none;
}
a, a:visited {
  color: #0d0d0d;
}
@media(min-width: 600px) {
  .title {
    margin-bottom: 56px;
  }
  .subtitle {
    line-height: 41px;
    font-size: 35px;
    margin-bottom: 60px;
  }
  .action {
    display: flex;
    justify-content: space-between;
    max-width: 600px;
    margin: 20px auto 0;
  }
  .action button {
    margin: 20px 10px;
  }
  .lucky {
    min-width: 320px;
  }
  input {
    font-size: 35px;
  }
}
